.carousel_hightlight__item{
    display: grid;
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    padding: 1%;
    border-radius: 1vh;
    
    > .item_img{
        max-width: 100%;
        object-fit: contain;
    }
}
.carousel_hightlight__item > div > .item_desc{
}

.carousel_hightlight__item > div > .item_price{
}