
.category_carousel__item{
    font-size: 2rem;
    font-weight: bold;
    
    text-decoration: none;
    
    display: block;
    position: relative;
    
}

.category_carousel__item:hover{
    >.category_img{
        opacity: 0.8;

    }
}

.category_img{
    border-radius: 100vh;
    width: 180px !important;
    height: 180px !important;
    opacity: 0.5;
    object-fit: cover;
    aspect-ratio: 1;
}

.category_title{
    color: var(--white);
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 1px 1px var(--black);
}