.font-white{
    color: var(--white) !important;
}
.font-red{
    color: var(--red) !important;
}
.font-orange{
    color: var(--orange) !important;
}
.font-black{
    color: var(--black) !important;
}