.nutri_info__container{
    display: grid;
}
@media (max-width: 768px) {
    .nutri_info__container{
        grid-template-columns: 1fr;
    }   
}
@media (min-width: 768px) {
    .nutri_info__container{
        grid-template-columns: 1fr 1fr;
        column-gap: 5vh;
    }   
}

.nutri_ingredients__container{
    font-size: 1.5rem;
}