ul{
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none;
    
}
.navbar_list{
    display: flex;
    column-gap: 2vh;
}
.navbar_list:not(.navbar_textbuttons__list){
    justify-content: flex-end;
}

.navbar_list__item, .searchBar_button, .searchBar_input, .navbar_dropdown__button{
    font-size: 1.4rem;
}
.navbar_list__item > a{
    text-decoration: none !important;
    color: var(--black);
}
.navbar_list__item > a:hover{
    color: var(--orange);
}

.navbar_icon__btn{
    font-size: 2.2rem;
}

.avatar_btn{
    text-wrap: nowrap;
    font-size: 1.4rem;
    >i{
        font-size: 2.5rem;
        color: var(--orange);
        vertical-align: sub;
    }

}