@import url("./buttons.css");
@import url("./dropdown.css");
@import url("./searchBar.css");

nav{
    position: fixed;
    
    top: 0;
    width: 100%;
    max-width: 100vw;
    background-color: var(--white);

    
}

#navbar{
    position: relative;
    display: grid;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    padding: 2vh;
}

@media (max-width: 768px){
    #navbar{
        grid-template-columns: auto auto 1fr auto;
        column-gap: 0.9vh;
    }
    #navbar > img{
        max-width: 5vh !important;
    }
}
@media (min-width: 768px){
    #navbar{
        grid-template-columns: auto auto 1fr 1fr;
        column-gap: 3vh;
    }
    #navbar > img{
        max-width: 12vh !important;
    }
}
