@import url("./forms.css");

/* .login_page__container{
    display: flex;
    > div{
        border-radius: 1vh;
    }
} */
/* 
.form-label[for="email_input__login"], 
#email_input__login,
.form-label[for="pswd_input__login"],
#pswd_input__login,
#register_btn__login,
#login_error__msg{
    font-weight: bold;
    font-size: 1.5rem;
}
#signin_btn__login{
    font-size: 1.7rem !important;
} */

@media (max-width: 768px){}
@media (min-width: 768px){}