.ellipse{
    position: fixed;

}

#ellipse_1{
    top: 0%;
    right: -1%;
    transform: translate(2%, 0%);
}
#ellipse_2{
    rotate: -180deg;
    bottom: 0%;
    transform: translateY(-30%);
}

@media (max-width: 768px) {
    #ellipse_1{
        max-width: 80vw;
    }
    #ellipse_2{
        max-width: 100vw;
    }
}


@media (min-width: 768px) {
    .ellipse{
        max-width: 50vw;
    }
}