.hide{
    display: none !important;
}
.cursor-pointer{
    cursor: pointer;
}

.mb-5{
    margin-bottom: 5vh;
}

.w-fit{
    width: fit-content;
}
.h-fit{
    height: fit-content;
}
.disabled{
    background-color: var(--super-light-yellow);
}

.bg-white{
    background-color: var(--white);
}