
.footer_col_4{
    display: flex;
    justify-content: end;
    column-gap: 2%;
    font-size: 1.5rem;
    > a{
        color: var(--orange);
        :hover{
            color: var(--black);
        }
    }
}