@import url("./partials/utils.css");
@import url("./partials/typography/typography.css");
@import url("./partials/navbar/navbar.css");
@import url("./partials/section/sectionHeader.css");
@import url("./partials/section/startSection.css");
@import url("./partials/carousel/carousel.css");
@import url("./partials/footer/footer.css");
@import url("./partials/searchFilter/searchFilter.css");
@import url("./partials/catalog/catalog.css");
@import url("./partials/buttons/buttons.css");
@import url("./partials/ellipse.css");

:root{
    --yellow: #FFCD29;
    --faded-yellow: #F0C24D;
    --orange: #F24822;
    --orange-faded: #f248223e;
    --white: #F8F8F8;
    --black: #090909;
}
html, body{
    background: rgb(255,205,41);
    background: linear-gradient(190deg, rgba(255,205,41,1) 0%, rgba(242,72,34,1) 100%);
}
body{
    margin: 0;
    background: #F0C24D;
    box-sizing: border-box;
}
main{
    position: relative;
    top: 15vh;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 100%;
}
@media (max-width: 768px){
    main{
        max-width: 90vw;
    }
}
@media (min-width: 768px){
    main{
        max-width: 80vw;
    }
}


