@import url("./partials/navbar.css");
@import url("./partials/utils.css");
:root{
    --yellow: #FFCD29;
    --orange: #F24822;
    --orange-faded: #f248223e;
    --white: #F8F8F8;
    --black: #090909;

    font-family: Inter, sans-serif;
    font-size: 10px;
}

body{
    margin: 0;
    box-sizing: border-box;
}